*{
    margin:0;
    padding:0;

}

#titulo{
    font-family: sans-serif;
    color:rgb(2, 2, 2);
    margin-left:7%;

}

#subtitulo{
    font-family: sans-serif;
    color:rgb(3, 5, 3);
    margin-left:10%;
}

fieldset{
    border:0;
}

body{
    
    background-image: url("https://stories.freepiklabs.com/storage/31160/left-hander-cuate-5172.png");
    background-attachment: fixed;
    background-repeat:no-repeat;
    background-color:rgb(243, 209, 16);
    font-family: sans-serif;
    font-size: 1em;
    color:darkgrey;
    margin-left:36%;
    margin-top:2%;
    justify-content: center;
    
}

input, select, textarea, button{
    border-radius: 5px;
}

.campo{
    margin-botton:1em;
}

.campo label{
    margin-bottom:0.2em ;
    color:rgb(15, 17, 15);
    display:block;
}

fieldset .grupo .campo{
    float: left;
    margin-right: 1em;
}

.campo input[type"text"], .campo input[type"email"], .campo select, .campo textarea{
    padding:10px;
    border:1px solid #59429d;
    box-shadow: 2px, 2px, 2px #59429d;
    display:block;
    
}

.campo select option{
    padding-rigth:1em;

}

.campo input:focus, .campo select:focus, .campo textarea:focus{
    background:rgb(241, 232, 232);
}
.botao{
    font-size:1.2em;
    background:rgb(202, 199, 19);
    border:0;
    margin-bottom: 1em;
    color:ivory;
    padding: 0.2em, 0.6em;
    box-shadow: 2px 2px 2px 2px #999999;
    text-shadow:1px, 1px, 1px, 1px, #33ff33;
    position:unset;
    top:90%;
    left:50%;
    margin-right: -50%;
    transform translate: (-50%, -50%);

    

}

.botao.hover{
    background: red;
    box-shadow:inset 2px, 2px, 2px, 2px, #33ff33;
    text-shadow: none;
}
    


